.btn-purple{
	color: white;
	font-weight: 600;
	background-color: #8E7AB5;
	padding: 15px 20px;
	border-radius: 5px;
	margin: 20px 0px;
}
.btn-purple:hover{
	color: white;
	background-color: #5C4884; /* dark purple */
}